#menu {
  display: grid;
  background: #1abc9c;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.c {
  padding-right: 20px;
  background-color: #1abc9c;
  text-align: left;
  font-size: 20px;
  display: inline;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}